body{
    font-family: "Arial";
}
div{
    text-align: center;
}
h1{
    text-align: center;
    font-size: 2vw;
}
h2{
    text-align: center;
    margin:5px;
    font-size:1.5vw;
}
p{
    margin:3px;
    font-size:1vw;
}
/*image*/
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
}		
/*box*/
.mass{
    text-align:right;
}
/*table*/
table{
    width:100%;
}
/*color*/
td.green01{
    background-color:#b5f100;
}
td.green02{
    background-color:#d7f872;
}
td.bleu01{
    background-color: #abf4f3;
}
td.red{
    background-color: #f24a4e;
}
td.orange01{
    background-color: #f3ce93;
}
td.pink{
    background-color: #f2a9aa;
}
td.marron01{
    background-color: #b9bb7f;
}
td.rose{
    background-color: #ff00ff;
}
td.gris{
    background-color: #b8b8b8;
}
td.rose01{
    background-color: #f2a3f4;
}
td.rose02{
    background-color: #f27ab9;
}